<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diet.name %>
</p>

<p>
  <strong>Sdate:</strong>
  <%= @diet.sdate %>
</p>

<p>
  <strong>Tdate:</strong>
  <%= @diet.tdate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diet.description %>
</p>

<%= link_to 'Edit', edit_diet_path(@diet) %> |
<%= link_to 'Back', diets_path %>
